.nav-link-button {
    margin-left: 15px;
    color: #135496 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.nav-link-button:hover {
    color: #135496 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}